@model ZomatoDemo.DomainModel.Application_Classes.RegisterAC
@{
    ViewData["Title"] = "Index";
}

<h4>
    ZOMATO
</h4>
<button class="btn btn-primary">Log in</button>
<button class="btn btn-primary">Sign in</button>