@model ZomatoDemo.DomainModel.Application_Classes.RegisterAC

@{
    ViewData["Title"] = "SignUpView";
}

<div class="jumbotron" style="background-color: #0c7d75; margin-top:10%; text-align: center; box-shadow: 5px 5px 15px #000302">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6">
                <div id="leftcontainer">
                    <div class="container" style="font-family: 'Lucida Calligraphy', Times, serif">
                        <h1 style="color: ghostwhite; border-color: black; margin-top:150px"> ZOMATO </h1>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6" style="border-left: 1px solid #777">
                <div id="rightcontainer" style="background-color: #09877f">
                    <div class="container" style="height: 90%; width: 85%;">
                        <h2>Register Here Please...</h2>
                        <hr />
                        <form asp-action="SignUp">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label" style="font-size: large"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="control-label" style="font-size: large"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword" class="control-label" ></label>
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" value="Create" class="btn btn-primary">Register</button>
                                <button asp-controller="Account" asp-action="LogInView">Old user?</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

